html,
body {
  height: 100%;
  width: 100%;
  color: #fefefe;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  vertical-align: bottom;
  height: 98vh;
  position: absolute;
  right: 0;
  width: 400px;
}

.profile {
  z-index: 0;
  position: relative;
  float: right;
  top: -60px;
  height: 60px;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

/**/

.chat {
  background-color: rgba(11, 115, 131, 1);
  margin-top: 15px;
  padding: 0px;
  /*  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 0%);
*/
}

.timer {
  height: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
}

.body {
  position: relative;
  z-index: 10;
  padding: 5px 15px 10px 15px;
}

.name {
  margin-right: 50px;
  text-align: right;
  font-weight: 600;
  margin-top: 5px;
  font-size: 22px;
}

.message {
  color: #fff;
  z-index: 900;
}

img.emote {
  width: 25px;
  max-width: 25px;
}

/* Mod skin start */
.mod {
  background-color: rgb(211, 76, 95);
}
.mod .profile {
  background-color: rgb(211, 76, 95);
}
/* Mod skin end */

/* Cheer skin start */
.cheer {
  background-color: rgba(164, 100, 200, 1);
}
.cheer .profile {
  background-color: rgba(164, 100, 200, 1);
}
/* Cheer skin end */

/* VIP skin start */
.vip {
  background-color: rgba(99, 169, 228, 1);
}
.vip .profile {
  background-color: rgba(99, 169, 228, 1);
}
/* VIP skin end */
