body {
  font-family: 'PT Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 0 0;
  padding: 0px;
}

div {
  display: inline-block;
}

.hid {
  display: none;
}

#message div {
  display: inline-block;
}

.user {
  background-color: rgba(11, 115, 131, 0.75);
  position: relative;
  z-index: 0;
  height: 80px;
  width: 100%;
}

.timer {
  height: 79px;
  position: relative;
  top: -87px;
  z-index: 5;
  width: 100%;
}
.percent {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}
.name {
  position: relative;
  top: -175px;
  z-index: 10;
  padding: 20px 40px 20px;
}

.purple {
  background-color: rgba(164, 100, 200, 0.75);
}

.red {
  background-color: rgba(211, 76, 95, 0.75);
}

.hidden {
  display: none;
}
