body {
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 0 0;
  padding: 0px;
}

div {
  display: inline-block;
}

.hid {
  display: none;
}

#message div {
  display: inline-block;
}

img {
  width: 48px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  float: left;
}

.timer {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 10px;
  position: absolute;
}

.user {
  background-color: rgba(11, 115, 131, 0.75);
  padding: 20px 40px 20px;
}

.purple {
  background-color: rgba(164, 100, 200, 0.75);
}

.red {
  background-color: rgba(211, 76, 95, 0.75);
}

.hidden {
  display: none;
}
