body {
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

div {
  display: inline-block;
}

img {
  width: 24px;
  border: 1px solid rgba(99, 170, 228, 0.6);
  margin-right: 10px;
  float: left;
}

.user {
  margin-top: 3px;
}

#message {
  background-color: rgba(11, 115, 131, 0.5);
  padding: 10px 60px 20px;
}

.purple {
  background-color: rgba(164, 100, 200, 0.5) !important;
}

.red {
  background-color: rgba(211, 76, 95, 0.5) !important;
}

.hidden {
  display: none;
}
